.background{

background-image:url('image2.jpg');
width:1340px;
height:600px;
text-align:center;
margin:10px;
}


h2{
text-align:center;
}

h1{
text-align:center;
}



.image2{
float:right;
height:300px;
width:600px;
}